<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end -%>

<% unless params[:search].nil? %>
  Search results: <%= @products.size %><br />  
<%end%>

<div id="facets">
  <% if @search %>
    <h3>Published</h3>
    <ul>
        <% for row in @search.facet(:publish_month).rows %>
          <li>
            <% if params[:month].blank? %>
              <%= link_to row.value, :month => row.value %>(<%= row.count %>)
            <% else %>
              <strong><%= row.value %></strong>(<%= link_to "remove", month: nil %>)
            <% end %>
          </li>
        <% end -%>
    </ul>
  <% end -%>
</div>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= link_to product.title, product%></h3>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product),
        remote: true %>
    </div>
  </div>
<% end %>


