<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% form_tag search_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end -%>

<% unless params[:term].nil? %>
  Search results: <%= @products.size %><br />  
<%end%>
<%= text_field_tag :search, params[:term], 'data-autocomplete' => search_path(forma: :json) %>
<%#= render 'facets' %>


<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= link_to product.title, product%></h3>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product),
        remote: true %>
    </div>
  </div>
<% end %>


